@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class = "jumbotron">Welcome!</div>

<div class="btn btn-danger">Hello</div>
